@keyframes fromRightToLeft {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.from-right-to-left {
  animation: fromRightToLeft ease 0.5s forwards;
}